
extends layout

block content
  h1.page-title #{title}

  div.items-container
    each item in category
      div.item-container
        img(src=item.imageurl, width="250" height="280")
        a.item-name(href='/item/'+item._id) #{item.name}
        p.item-catgeory=item.category
        p.item-instock Instock: #{item.instock}

