
extends layout

block content
  h1.page-title #{title}


  each item in category
    img(src=item.imageurl, width="250")
    a(href='/item/'+item._id) #{item.name}
    p=item.description
    p=item.category
    p=item.price
    p=item.instock
    p=item.url

